Source: bakunbak
Section: utils
Priority: optional
Maintainer: Michael Webster <miketwebster@gmail.com>
Standards-Version: 4.5.0
Build-Depends:
 debhelper-compat (= 12),
 python3-argparse-manpage

Package: bakunbak
Architecture: all
Depends: python3
Description: Easily .bak a file or folder, then restore it.
 This is a simple convenience tool for making temporary 'backup'
 copies of files or folders, by adding and removing .bak to their
 filenames. A limited number of options allow copying instead of
 moving, and forcing overwrite of existing files.

