Source: bakunbak
Section: utils
Priority: optional
Maintainer: Michael Webster <miketwebster@gmail.com>
Standards-Version: 4.5.0
Build-Depends:
 debhelper-compat (= 12)

Package: bakunbak
Architecture: all
Depends: python3
Description: Easily .bak a file or folder, then restore.

